<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ТехноБазар - Главная</title>
    <link rel="icon" href="./img/Fevicon.svg" type="image/svg">
    <link rel="stylesheet" href="./vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="./vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="./vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="./vendors/owl-carousel/owl.carousel.min.css">
</head>

<body>
    <header class="header_area">
        <div class="main_menu">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
              <a class="navbar-brand logo_h" href="./index.html"><img src="./img/logo.svg" alt="">ТехноБазар</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                  <li class="nav-item active"><a class="nav-link" href="./index.html">Главная</a></li>
                  <li class="nav-item submenu dropdown">
                    <a href="./#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">Магазин</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item"><a class="nav-link" href="./category.html">Категории</a></li>
                      <li class="nav-item"><a class="nav-link" href="./single-product.html">О продукте</a></li>
                      <li class="nav-item"><a class="nav-link" href="./checkout.html">Оформление</a></li>
                      <li class="nav-item"><a class="nav-link" href="./confirmation.html">Подтверждение</a></li>
                      <li class="nav-item"><a class="nav-link" href="./cart.html">Корзина</a></li>
                    </ul>
                                </li>
                  <li class="nav-item submenu dropdown">
                    <a href="./#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">Блог</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item"><a class="nav-link" href="./blog.html">Блог</a></li>
                      <li class="nav-item"><a class="nav-link" href="./single-blog.html">Подробности</a></li>
                    </ul>
                                </li>
                                <li class="nav-item submenu dropdown">
                    <a href="./#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">Странички</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item"><a class="nav-link" href="./login.html">Войти</a></li>
                      <li class="nav-item"><a class="nav-link" href="./register.html">Регистрация</a></li>
                      <li class="nav-item"><a class="nav-link" href="./tracking-order.html">Отслеживание</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="./contact.html">Контакты</a></li>
                </ul>
    
                <ul class="nav-shop">
                  <li class="nav-item"><button><i class="ti-search"></i></button></li>
                  <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
                  <li class="nav-item"><a class="button button-header" href="./#">Купить сейчас</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
</body>

</html>