<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <section th:fragment="register-box" class="login_box_area section-margin">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="login_box_img">
                            <div class="hover">
                                <h4>Уже есть аккаунт</h4>
                                <p>Вперёд к покупкам</p>
                                <a class="button button-account"  th:href="@{/login}">Войти</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="login_form_inner register_form_inner">
                            <h3>Создать аккаунт</h3>
                            <form class="row login_form" action="#/" id="register_form">
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Username"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Имя'">
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="email" name="email"
                                        placeholder="Email Address" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Email'">
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="password" name="password"
                                        placeholder="Password" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Пароль'">
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control" id="confirmPassword" name="confirmPassword"
                                        placeholder="Confirm Password" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Подтверждение пароля'">
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit"
                                        class="button button-register w-100">Зарегистрироваться</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>