<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <section class="hero-banner" th:fragment="banner">
        <div class="container">
            <div class="row no-gutters align-items-center pt-60px">
                <div class="col-5 d-none d-sm-block">
                    <div class="hero-banner__img">
                        <img class="img-fluid" src="./img/home/hero-banner.png" alt="">
                    </div>
                </div>
                <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                    <div class="hero-banner__content">
                        <h4>Покупайте с удовольствием</h4>
                        <h1>Наши лучшие товары</h1>
                        <p>Покупайте бытовую технику в отличном качестве и по приемлимым ценам.</p>
                        <a class="button button-hero" th:href="@{/category}">Смотреть</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>