<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{ common-fragments/head :: common_header(~{::title},~{::link}) }">
    <title>ТехноБазар - Корзина</title>
    <link></link>
</head>

<body>
    <header th:replace="~{common-fragments/header :: header}"></header>
    <section th:replace="~{cart-fragments/banner :: banner}"></section>

    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Товар</th>
                                <th scope="col">Цена</th>
                                <th scope="col">Количество</th>
                                <th scope="col">Сумма</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="product-row" th:id="${cartItem.id}" th:each="cartItem, iterStat : ${cartItems}">
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img width="150" height="100" th:src="@{/img/products/} + ${cartItem.product.photoUrl}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p th:text="${cartItem.product.title}">product description</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5><span class="product-price" th:text="${cartItem.product.price}"></span> ₽</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="number"  name="qty" th:id="${cartItem.product.id}" min="0" max="10" th:value="${cartItem.quantity}"
                                            title="Quantity:" class="input-text qty">
                                    </div>
                                </td>
                                <td>
                                    <h5><span class="product-sum"></span> ₽</h5>
                                </td>
                            </tr>
                            <tr>
                                <td></td><td></td>
                                <td>
                                    <h5>Итого</h5>
                                </td>
                                <td>
                                    <h5><span class="res-sum"></span> ₽</h5>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td class="d-none-l"> </td><td class=""></td><td></td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" th:href="@{/}">Вернуться к покупкам</a>
                                        <a class="primary-btn ml-2" id="make-purchase-button" ><button style="border: none; background-color: transparent;">Перейти к оплате</button></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="~{common-fragments/footer :: footer}"></footer>
    <section th:replace="~{common-fragments/scripts :: scripts}" th:remove="tag"></section>
</body>

</html>