<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{ common-fragments/head :: common_header(~{::title},~{::link}) }">
	<title>ТехноБазар - Категории</title>
	<link></link>
</head>

<body>
  <header th:replace="~{common-fragments/header :: header}"></header>
  <section th:replace="~{category-fragments/banner :: banner}"></section>
  <section th:replace="~{category-fragments/products-category :: products-category}"></section>
  <section th:replace="~{common-fragments/subscribe :: subscribe}"></section>
  <footer th:replace="~{common-fragments/footer :: footer}"></footer>
  <section th:replace="~{common-fragments/scripts :: scripts}" th:remove="tag"></section>
</body>

</html>