<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{ common-fragments/head :: common_header(~{::title},~{::link}) }">
	<title>ТехноБазар - Подтверждение</title>
	<link></link>
</head>

<body>
  <header th:replace="~{common-fragments/header :: header}"></header>
  <section th:replace="~{confirmation-fragments/banner :: banner}"></section>

  <section class="order_details section-margin--small">
    <div class="container">
      <p class="text-center billing-alert">Спасибо. Ваш заказ поступил в обработку.</p>
      <div class="order_details_table">
        <h2>Детали заказа</h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Товар</th>
                <th scope="col">Количество</th>
                <th scope="col">Итого</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="orderItem, iterStat : ${orderItems}">
                <td>
                  <p th:text="${orderItem.product.title}">product title</p>
                </td>
                <td>
                  <h5 th:text="${orderItem.quantity}">quantity</h5>
                </td>
                <td th:with="subTotal=${orderItem.product.price * orderItem.quantity}">
                  <p><span th:text="${subTotal}"></span> ₽</p>
                </td>
              </tr>
              <tr>
                <td>
                  <h4>Итого</h4>
                </td>
                <td>
                  <h5></h5>
                </td>
                <td>
                  <h4><span th:text="${totalSum}"></span> ₽</h4>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <footer th:replace="~{common-fragments/footer :: footer}"></footer>
  <section th:replace="~{common-fragments/scripts :: scripts}" th:remove="tag"></section>
</body>

</html>