<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{ common-fragments/head :: common_header(~{::title},~{::link}) }">
	<title>ТехноБазар - Главная</title>
	<link></link>
</head>

<body>
  <header th:replace="~{common-fragments/header :: header}"></header>
  <main th:replace="~{index-fragments/main :: main}"></main>
  <footer th:replace="~{common-fragments/footer :: footer}"></footer>
  <section th:replace="~{common-fragments/scripts :: scripts}" th:remove="tag"></section>
</body>

</html>