<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{ common-fragments/head :: common_header(~{::title},~{::link}) }">
	<title>ТехноБазар - Детали товара</title>
	<link></link>
</head>

<body>
	<header th:replace="~{common-fragments/header :: header}"></header>
	<section th:replace="~{product-fragments/banner :: banner}"></section>
	<div th:replace="~{product-fragments/product-image :: product-image}"></div>
	<section th:replace="~{product-fragments/product-description :: product-description}"></section>
	<footer th:replace="~{common-fragments/footer :: footer}"></footer>
	<section th:replace="~{common-fragments/scripts :: scripts}" th:remove="tag"></section>
</body>

</html>