<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <section th:fragment="banner" class="blog-banner-area" id="blog">
            <div class="container h-100">
                <div class="blog-banner">
                    <div class="text-center">
                        <h1>Продукт</h1>
                        <nav aria-label="breadcrumb" class="banner-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/}">Главная</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Продукт</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>