<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <section th:fragment="product-description" class="product_description_area">
            <div class="container">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                            aria-selected="true">Описание</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Детали</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab"
                            aria-controls="review" aria-selected="false">Отзывы</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p th:text="${product.description}">Description text</p>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr th:each="specification, iterStat : ${specifications}" th:if="${iterStat.index lt 10}">
                                        <td>
                                            <h5 th:text="${specification.name}">name</h5>
                                        </td>
                                        <td>
                                            <h5 th:text="${specification.value}">value</h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                        <div class="row">
                            <div th:replace="~{product-fragments/product-description-fragments/reviews :: reviews}"></div>
                            <div th:replace="~{product-fragments/product-description-fragments/add-review :: add-review}"></div>
                            <div th:unless="${isAuthenticated}">
                                <p>Войдите чтобы оставлять отзывы на товары</p>
                                <div>
                                    <a class="button primary-btn" th:href="@{/login}">Войти</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>