<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="add-review" class="col-lg-6">
            <div class="review_box">
                <h4>Добавить отзыв</h4>
                <p>Ваш рейтинг:</p>
                <ul class="list">
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                </ul>
                <p>Отлично</p>
                <form action="#/" class="form-contact form-review mt-3">
                    <div class="form-group">
                        <textarea class="form-control different-control w-100" name="textarea"
                            id="textarea" cols="30" rows="5" placeholder="Ваш отзыв"></textarea>
                    </div>
                    <div class="form-group text-center text-md-right mt-3">
                        <button type="submit" class="button button--active button-review">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>