<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="reviews" class="col-lg-6">
            <div class="row total_rate">
                <div class="col-6">
                    <div class="box_total">
                        <h5>Всего</h5>
                        <h4 th:text="${averageMark}">оценка</h4>
                        <h6>(всего отзывов: <span th:text="${reviewsCount}"></span> )</h6>
                    </div>
                </div>
                <div class="col-6">
                    <div class="rating_list">
                        <h3>На основе <span th:text="${reviewsCount}"></span></h3>
                        <ul class="list">
                            <li><a href="#"><span th:text="${marksDistribution[4]} + '  '">0 </span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><span th:text="${marksDistribution[3]} + '  '">0 </span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><span th:text="${marksDistribution[2]} + '  '">0 </span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><span th:text="${marksDistribution[1]} + '  '">0 </span><i class="fa fa-star"></i><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><span th:text="${marksDistribution[0]} + '  '">0 </span><i class="fa fa-star"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="review_list">
                <div th:each="review, iterStat : ${reviews}" th:if="${iterStat.index lt 5}" class="review_item">
                    <div class="media">
                        <div class="media-body" th:with="end=${review.getRating()}">
                            <h4 th:text="${review.user.name}">username</h4>
                            <i th:each="i : ${#numbers.sequence(1, end)} " class="fa fa-star"></i>
                        </div>
                    </div>
                    <p th:text="${review.content}">review text</p>
                </div>
            </div>
        </div>
    </body>
</html>