<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="reviews" class="col-lg-6">
            <div class="row total_rate">
                <div class="col-6">
                    <div class="box_total">
                        <h5>Всего</h5>
                        <h4>4.0</h4>
                        <h6>(03 Отзыва)</h6>
                    </div>
                </div>
                <div class="col-6">
                    <div class="rating_list">
                        <h3>На основе 3</h3>
                        <ul class="list">
                            <li><a href="#">5 Звёзд <i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                            <li><a href="#">4 Звёзд <i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                            <li><a href="#">3 Звёзд <i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                            <li><a href="#">2 Звёзд <i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                            <li><a href="#">1 Звёзд <i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="review_list">
                <div class="review_item">
                    <div class="media">
                        <div class="d-flex">
                            <img th:src="@{/img/product/review-1.png}" alt="">
                        </div>
                        <div class="media-body">
                            <h4>Blake Ruiz</h4>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea
                        commodo</p>
                </div>
            </div>
        </div>
    </body>
</html>